<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Barra de progreso</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" 
                         role="progressbar" 
                         [attr.areaValuenow]="getProgreso1" 
                         aria-valuenow="50" 
                         aria-valuemin="0" 
                         aria-valuemax="100" 
                         [style.width]="getProgreso1">
                    </div>
                </div>
                <br/>
                <div class="progress">
                    <div
                        class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                        role="progressbar"
                        [attr.areaValuenow]="getProgreso2"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        [style.width]="getProgreso2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador
                    (valor)="progreso1 = $event"
                    nombre="Progress Morado"
                    [valor]="progreso1">
                </app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador
                    (valor)="progreso2 = $event"
                    nombre="Progress Azul"
                    [valor]="progreso2"
                    [btnClass]="'btn-info'">
                </app-incrementador>
            </div>
        </div>
    </div>
</div>
